:root{
    --color-fondo: #EBE8DB;
    --color-titulo: #B03052;
    --color-subtitulo: #1e1916;
    --color-letra: #888279;
    --fondo-presentacion:#3D0301;
    --color-subrrayado: #D76C82;
    --color-border: #94d175;
}